.classes-container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	border: var(--thin-border);
	border-radius: var(--slightly-rounded);
	padding: var(--regular-padding);
}

.class-btn {
	border: none;
	background: none;
	cursor: pointer;
}
